<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657078459688-d9993j3v9hm123qf5nnl2jepcjgtt7og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657078459688-d9993j3v9hm123qf5nnl2jepcjgtt7og</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657078459688-tu6154g7m6c0731c2gp2f76rkrjeu606.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAnEeYUOBPzyFLgbMkiFzPerVU2NqwDT2E</string>
	<key>GCM_SENDER_ID</key>
	<string>657078459688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onyxdatasystems.evateverywhere</string>
	<key>PROJECT_ID</key>
	<string>evateverywhere777</string>
	<key>STORAGE_BUCKET</key>
	<string>evateverywhere777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657078459688:ios:e9cbbcd04019654518041d</string>
	<key>DATABASE_URL</key>
	<string>https://evateverywhere777-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>